<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>隐私权限</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSAppleMusicUsageDescription</key>
	<string>Add tracks to your music library.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>若不允许，你将无法使用联机服务</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>若不允许，你将无法使用联机服务</string>
	<key>NSCalendarsUsageDescription</key>
	<string>若不允许，你将无法使用添加日历功能</string>
	<key>NSCameraUsageDescription</key>
	<string>若不允许，你将无法使用图片上传和识别功能</string>
	<key>NSContactsUsageDescription</key>
	<string>通讯录信息仅用于查找联系人，并会得到严格保密</string>
	<key>NSHealthShareUsageDescription</key>
	<string>若不允许，你将无法参与运动排行榜活动</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>若不允许，你将无法参与运动排行榜活动</string>
	<key>NSHomeKitUsageDescription</key>
	<string>若不允许，你将无法使用智能家居服务</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>我们需要获取你的定位权限以供完成查找附近商户功能</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们需要获取你的定位权限以供完成查找附近商户功能</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>我们需要获取你的麦克风权限以供完成语音搜索功能</string>
	<key>NSMotionUsageDescription</key>
	<string>我们需要获取你的运动权限以完成运动挑战赛功能</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>我们需要获取你的相册权限以完成图片上传和识别功能</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>我们需要获取你的相册权限以完成图片上传和识别功能</string>
	<key>NSRemindersUsageDescription</key>
	<string>我们需要获取你的提醒事项权限以供添加提醒事项</string>
	<key>NSSiriUsageDescription</key>
	<string>我们需要获取你的Siri权限以方便完成Siri建议功能</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>我们需要获取你的语音识别功能已完成键盘语音识别输入功能</string>
	<key>NSVideoSubscriberAccountUsageDescription</key>
	<string>我们需要获取你的TV权限</string>
</dict>
</plist>
